.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(48, 48, 90);
    align-items: center;
    padding: 1rem;
  }
  
  .containerLogo {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .weatherApp {
    font-size: 30px;
    padding-left: 10px;
    color: rgb(238, 238, 238);
  }

  .home{
    font-size: larger;
    color: rgb(238, 238, 238);
  }
  
  .home:hover{
    text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
  }